.navbar-brand {
  margin-left: 1rem;
}

#home-container {
  min-width: 100%;
}

#home-bg {
  max-height: 95vh;
}

#home-text {
  bottom: 0;
  left: 75%;
  right: 5%;
  font-size: 50px;
  text-align: right;
  color: white;
}

.btn.btn-light {
  border: 0;
  color: #6c757d;
  background-color: white;
}

#journal {
  padding: 1rem;
}

#content {
  height: 50vh;
}

.input-group.col-sm-6 {
  padding: 0;
}

#upload-button {
  margin-left: 10px;
}